<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <input type="number" [value]="response" class="result">
        </div>


        <div class="col-xs-12">

            <!-- First Row -->
            <div class="row">
                <div class="col-xs-3">
                    <app-button (eventBinding)="concatValues($event)" [value]="7"></app-button>
                </div>
                <div class="col-xs-3">
                    <app-button (eventBinding)="concatValues($event)" [value]="8"></app-button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">9</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-success btn-lg">+</button>
                </div>
            </div>

            <!-- Second Row -->
            <div class="row">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">4</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">5</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">6</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-success btn-lg">-</button>
                </div>
            </div>

            <!-- Third Row -->
            <div class="row">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">3</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">2</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">1</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-success btn-lg">*</button>
                </div>
            </div>

            <!-- Fourth Row -->
            <div class="row">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">0</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary btn-lg">.</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-warning btn-lg">=</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-success btn-lg">/</button>
                </div>
            </div>

            <!-- Fifth Row -->
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-danger btn-lg">button</button>
                </div>
            </div>
        </div>
    </div>
</div>