/* You can add global styles to this file, and also import other style files */


/* Uh-oh we are messing with bootstrap classes*/

.row {
    margin: 15px -15px;
}

.result {
    height: 67px;
    font-size: 44px;
    text-align: right;
    width: 100%;
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.2);
}